section.catalog
  .filter
    each item in [{id: 'new', label: 'Новинки'}, {id: 'in-stock', label: 'Есть в наличии'}, {id: 'contract', label: 'Контрактные'}, {id: 'exclusive', label: 'Эксклюзивные'}, {id: 'sale', label: 'Распродажа'}]
      .filter__item
        input.filter__input(
          type="radio"
          id=item.id
          name="category"
          value=item.id
          checked=(item.id === 'new'))
        label.filter__label(for=item.id)
          span.filter__checkmark
          span.filter__text= item.label
  .catalog__main
    .catalog__title
      .count-product 412 товаров
      .sort-product Сначала дорогие
        svg(width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M5 7.5L8.4641 3L1.5359 3L5 7.5Z" fill="#202020")
    .catalog__products
      .card
        .card__image-container
          img(src="assets/images/products/ProClassic.png", alt="ProClassic" loading="lazy").card__image
        .card__content
          p.card__name Краска Wallquest, Brownsone MS90102
          .card__description
            p.card__price 4800 ₽
            button.card__add-to-cart +
      .card
        .card__image-container
          img(src="assets/images/products/Duration Home Interior Acrylic.png", alt="ProClassic" loading="lazy").card__image
        .card__content
          p.card__name Краска Wallquest, Brownsone MS90102
          .card__description
            p.card__price 6000 ₽
            button.card__add-to-cart +
      .card
        .card__image-container
          img(src="assets/images/products/Emerald.png", alt="ProClassic" loading="lazy").card__image
        .card__content
          p.card__name Краска Wallquest, Brownsone MS90102
          .card__description
            p.card__price 5280 ₽
            button.card__add-to-cart +
      .card
        .card__image-container
          img(src="assets/images/products/Latex Primer.png", alt="ProClassic" loading="lazy").card__image
        .card__content
          p.card__name Краска Wallquest, Brownsone MS90102
          .card__description
            p.card__price 3400 ₽
            button.card__add-to-cart +
      .card
        .card__image-container
          img(src="assets/images/products/ProClassic White.png", alt="ProClassic" loading="lazy").card__image
        .card__content
          p.card__name Краска Wallquest, Brownsone MS90102
          .card__description
            p.card__price 2800 ₽
            button.card__add-to-cart +
      .card
        .card__image-container
          img(src="assets/images/products/SuperPaint.png", alt="ProClassic" loading="lazy").card__image
        .card__content
          p.card__name Краска Wallquest, Brownsone MS90102
          .card__description
            p.card__price 2800 ₽
            button.card__add-to-cart +
      .card
        .card__image-container
          img(src="assets/images/products/Surface Enamel.png", alt="ProClassic" loading="lazy").card__image
        .card__content
          p.card__name Краска Wallquest, Brownsone MS90102
          .card__description
            p.card__price 2800 ₽
            button.card__add-to-cart +
      .card
        .card__image-container
          img(src="assets/images/products/Emerald.png", alt="ProClassic" loading="lazy").card__image
        .card__content
          p.card__name Краска Wallquest, Brownsone MS90102
          .card__description
            p.card__price 5280 ₽
            button.card__add-to-cart +
      .card
        .card__image-container
          img(src="assets/images/products/Latex Primer.png", alt="ProClassic" loading="lazy").card__image
        .card__content
          p.card__name Краска Wallquest, Brownsone MS90102
          .card__description
            p.card__price 3400 ₽
            button.card__add-to-cart +
      .card
        .card__image-container
          img(src="assets/images/products/ProClassic White.png", alt="ProClassic" loading="lazy").card__image
        .card__content
          p.card__name Краска Wallquest, Brownsone MS90102
          .card__description
            p.card__price 2800 ₽
            button.card__add-to-cart +
